<div class="category-container">
    <h2>Shopping cart</h2>
    <table>
        <tr>
            <th>Product</th>
            <th>Unit Price</th>
            <th>Quantity</th>
            <th>Whole price</th>
            <th>Remove</th>
        </tr>
        <tr *ngFor="let product of products; let i = index" >
            <td>{{product.name}}</td>
            <td>{{product.kaina }} €</td>
            <td><input (ngModelChange)="onQuantityChange(purchases[i])" class="input" [(ngModel)]="purchases[i].kiekis" placeholder="Enter quantity"></td>
            <td>{{product.kaina * purchases[i].kiekis}} €</td>
            <td> <button (click)="removePurchase(i)">✗</button></td>
        </tr>
    </table>
    <br>
    <div>
        <h3 class="inLine">Your order:  {{getAllProductsPrice()}} €</h3>
        <button id="proceedButton" class="inLine" (click)="goToOrder()">Proceed</button>
    </div>
</div>
