<div class="category-container">
    <h2>Shopping cart</h2>

    <table>
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Unit Price</th>
            <th>Whole price</th>
        </tr>
        <tr *ngFor="let product of products; let i = index" >
            <td>{{product.name}}</td>
            <td><input [(ngModel)]="purchases[i].kiekis" placeholder="Enter quantity"></td>
            <td>{{product.kaina }}</td>
            <td>{{product.kaina * purchases[i].kiekis}}</td>
            <td> <button (click)="removePurchase(i)">Remove</button> </td>
        </tr>
    </table>
    <div>
        <p>Order price: {{getAllProductsPrice()}}</p>
        <button (click)="goToOrder()">Proceed</button>
    </div>
</div>
