table {
    border-collapse: collapse;
}

th, td {
    text-align: center;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #4CAF50;
    color: white;
}

.input{
    text-align: right;
    width: 50px;
}

.inLine{
    display: inline-block;
}

#proceedButton{
    margin-left: 200px;
}