table {
    border-collapse: collapse;
}

th, td {
    text-align: center;
    padding: 8px;
}

.input{
    text-align: right;
}

.inLine{
    display: inline-block;
}

#proceedButton{
    margin-left: 60px;
}

th {
    background-color: #428bca;
    color: white;
}

img{
    height:55px;
    width:55px;
    margin-top:-5px;
    margin-bottom:-5px;
}