table {
    border-collapse: collapse;
}

th, td {
    text-align: center;
    padding: 8px;
}

th {
    background-color: #428bca;
    color: white;
}

img{
    height:55px;
    width:55px;
    margin-top:-5px;
    margin-bottom:-5px;
}

#productName {
    cursor: pointer;
}