<div class="container">
    <div class="page-header">
        <h1>Search</h1>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>Keyword</label>
                <input class="form-control" type="text" placeholder="Type to search" (keyup)="doSearch()"
                       [(ngModel)]="searchField">
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group">
                        <label>Price from</label>
                        <input class="form-control" type="number" placeholder="0.00" (input)="doSearch()"
                               [(ngModel)]="priceFrom">
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-group">
                        <label>Price to</label>
                        <input class="form-control" type="number" placeholder="{{ maxPrice }}" (input)="doSearch()"
                               [(ngModel)]="priceTo">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="checkbox">
                <label (change)="doSearch()">
                    <input type="checkbox" [(ngModel)]="discounted">
                    Discounted only
                </label>
            </div>
        </div>
    </div>
    <div>
        <h3>Search results</h3>
        <div *ngIf="pagedResults">
            <div *ngFor="let product of pagedResults">
                <div>
                    <img [attr.src]="product.photos[0].link" (click)="gotoProductPage(product.name)">
                    <h4>{{ product.name }}</h4>
                    <h5>{{ product.price }}$</h5>
                    <h5>Discount: {{ product.discount }}%</h5>
                </div>
            </div>
            <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                <li [ngClass]="{disabled:pager.currentPage === 1}">
                    <a (click)="setPage(1)">First</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === 1}">
                    <a (click)="setPage(pager.currentPage - 1)">Previous</a>
                </li>
                <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                    <a (click)="setPage(page)">{{page}}</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                    <a (click)="setPage(pager.currentPage + 1)">Next</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                    <a (click)="setPage(pager.totalPages)">Last</a>
                </li>
            </ul>
        </div>
    </div>
</div>
