<div class="container">
    <div class="page-header">
        <h2>Categories</h2>
    </div>
    <div class="row">
        <div *ngFor="let category of categories">
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <div class="caption">
                        <h3 style="text-decoration: underline; cursor: pointer;" (click)="gotoCategory(category)">{{ category.name }}</h3>
                        <p>{{ category.description }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row">
            <button class="btn btn-primary" (click)="addCategory()">Add Category</button>
        </div>
    </div>
</div>
