.pushable {
    cursor: pointer;
}

.login-form {
    position: absolute;
    top: 50px;
    background-color: #101010;
    width: 170%;
}

.login-form .hidden {
    display: none;
}

.login-error {
    color: #c95757;
}

.register-form {
    position: absolute;
    top: 50px;
    background-color: #101010;
    width: 150%;
}

.register-form .hidden {
    display: none;
}
