.app-container {
    display: flex;
    justify-content: space-between;
    border: 1px solid dodgerblue;
    border-radius: 10px;
}

.nav-column {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.nav-column > a {
    text-decoration: none;
}