<div class="container">
    <h1>Add product</h1>
    <form #productForm="ngForm">
        <div class="form-group">
            <label for="name">Name</label>
            <input #newProductName type="text" class="form-control" id="name" name="name" required>
        </div>

        <div class="form-group">
            <label for="description">Description</label>
            <textarea #newProductDescription class="form-control" id="description" name="description"></textarea>
        </div>
        <div class="form-group">
            <label for="price">Price</label>
            <input #newProductPrice type="text" class="form-control" id="price" name="price">
        </div>
        <div class="form-group">
            <label for="quantity">Quantity</label>
            <input #newProductQuantity type="text" class="form-control" id="quantity" name="quantity">
        </div>
        <div class="form-group">
            <p>Add photo links</p>

            <div *ngFor='let input of inputData' class="photo-link-container">
                <div class="link-input-holder">
                    <label>{{input.name }}</label>
                    <input class="photo-link-input" type="text"  name="photo-link-input">
                    <button type="button" class="link-input-remove" (click)="removeProductInput($event)">Remove</button>
                </div>
            </div>
            <button type="button" (click)="addProductInput()">Add more image links</button>
        </div>
        <button type="submit" class="btn btn-default" [disabled]="!productForm.form.valid" (click)="addProduct(newProductName.value, newProductDescription.value, newProductPrice.value, newProductQuantity.value)">Save</button>
    </form>
</div>