<div class="clearfix">
    &nbsp;
</div>
<div *ngIf="product">
    <!--left side of page-->
    <div class="col-sm-6 col-sm-6">
        <div class="product-img-container">
            <div *ngIf="product.photos">
                <img class="img-thumbnail img-responsive" src="product.photos[0].link">
                <div class="extra-img-container">
                    <div *ngFor="let image of product.photos">
                        <img *ngIf="image.main == 0" [attr.src]="image.link">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="col-md-8">
                    <h2>{{ product.name }}</h2>
                </div>
                <div class="col-md-4">
                    <h2>{{ product.price}} $</h2>
                </div>
                <div class="col-md-12">
                    <p class="lead">{{ product.description }}</p>
                </div>
                <div class="clearfix">
                    &nbsp;
                </div>
            </div>
            <div class="panel-body">
                <div class="col-md-4">
                    <input [(ngModel)]="quantity" type="number" min="1" max={{product.quantity}} placeholder="Enter quantity" class="form-control" required>
                </div>
                <div class="col-md-8">
                    <div class="alert-info col-md-12">
                        <p class="bg-info"> There are <b>{{ product.quantity }}</b> items left in stock.</p>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div [ngClass]="product-content-container">
                    <div class="text-center">
                        <button class="btn btn-lg btn-success" (click)="addToCart( product._id, quantity)">
                            <i class="glyphicon glyphicon-shopping-cart"></i> Add to cart
                        </button>
                    </div>
                    <div class="clearfix">
                        &nbsp;
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>