<div class="container">
    <div class="page-header">
        <h2>Add/Edit Product</h2>
    </div>
    <form class="col-md-8" #productForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="name">Name</label>
            <input #productName class="form-control" type="text" id="name" name="name" [(ngModel)]="product.name"
                   required>
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" rows="5" #productDescription id="description" name="description"
                      [(ngModel)]="product.description"></textarea>
        </div>
        <div class="form-group">
            <label for="price">Price</label>
            <div class="input-group">
                <input #productPrice type="number" class="form-control"
                       id="price" name="price" [(ngModel)]="product.price" required>
                <span class="input-group-addon">$</span>
            </div>
        </div>
        <div class="form-group">
            <label for="quantity">Quantity</label>
            <input #productquantity type="number" class="form-control"
                   id="quantity" name="quantity" [(ngModel)]="product.quantity" required>
        </div>
        <div class="form-group">
            <label for="discount">Discount</label>
            <div class="input-group">
                <input #productDiscount type="number" class="form-control"
                       id="discount" name="discount" [(ngModel)]="product.discount">
                <span class="input-group-addon">%</span>
            </div>
        </div>
        <div class="form-group">
            <label>Categories</label>
            <ss-multiselect-dropdown name="categories" [options]="categoriesList"
                                     [(ngModel)]="product.categories"
                                     (click)="transformCategories()"></ss-multiselect-dropdown>
        </div>
        <div class="well">
            <button class="pull-left btn btn-default" type="button" (click)="addProductInput()">
                <i class="glyphicon glyphicon-camera"></i> Add photo links
            </button>
            <div class="clearfix">
                &nbsp;
            </div>
        </div>
        <div *ngIf="!productAddPage">
            <div *ngIf="!failedToAdd">
                <div *ngIf="!productAdded">
                    <div *ngFor="let photo of product.photos" class="photo-link-container form-group">
                        <div class="input-group">
                            <input *ngIf="photo.cover == 1" [value]="photo.link"
                                   class="photo-link-input form-control" type="text">
                            <input *ngIf="photo.cover == 0" [value]="photo.link"
                                   class="photo-link-input form-control" type="text">
                            <span *ngIf="photo.cover == 1" class="input-group-addon">cover image</span>
                            <span class="input-group-addon" *ngIf="photo.cover == 0"
                                  (click)="removeProductInput($event)">
                                    <i class="glyphicon glyphicon-remove"></i>
                             </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngFor='let input of inputData' class="photo-link-container form-group">
            <div class="input-group">
                <input class="photo-link-input form-control" type="text">
                <span class="input-group-addon" (click)="removeProductInput($event)" *ngIf="!input.cover">
                            <i class="glyphicon glyphicon-remove"></i>
                        </span>
                <span *ngIf="input.cover" class="input-group-addon">cover image</span>
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Save</button>
    </form>
    <div class="col-md-4">
        <div *ngIf="productAdded" class="alert alert-success">
            Product added
        </div>
        <div *ngIf="failedToAdd" class="alert alert-danger">
            <ul *ngFor="let error of errorMessages">
                <li>{{ error }}</li>
            </ul>
        </div>
    </div>
</div>
