<div class="container">
    <h1 *ngIf="product">Edit product</h1>
    <h1 *ngIf="!product">Add product</h1>
    <form #productForm="ngForm">
        <div *ngIf="product">
            <input #id name="id" [hidden]="hideId" [value]="product._id">
            <div  class="form-group">
                <label>Name</label>
                <input #name [value]="product.name"type="text" class="form-control" name="name" required>
            </div>
            <div  class="form-group">
                <label>Description</label>
                <input #description [value]="product.description" type="text" name="description" class="form-control">
            </div>
            <div  class="form-group">
                <label>Price</label>
                <input #price [value]="product.price" type="text" class="form-control" name="price" required>
            </div>
            <div  class="form-group">
                <label>Quantity</label>
                <input #quantity [value]="product.quantity" type="text" class="form-control" name="quantity" required>
            </div>
            <div class="form-group">
                <label>Discount %</label>
                <input #discount [value]="product.discount" type="text" class="form-control" name="discount" required>
            </div>
            <div *ngIf="product.photos" class="form-group">
                <p>Add photo links</p>
                <div *ngFor="let photo of product.photos" class="photo-link-container">
                    <div>
                        <input *ngIf="photo.main == 1" [value]="photo.link" placeholder="cover image link" class="photo-link-input" type="text">
                        <input *ngIf="photo.main == 0" [value]="photo.link" class="photo-link-input" type="text">
                        <button *ngIf="photo.main == 0" type="button" class="link-input-remove" (click)="removeProductInput($event)">Remove</button>
                    </div>
                </div>
                <div *ngFor='let input of inputData' class="photo-link-container">
                    <div>
                        <input *ngIf="input.display" class="photo-link-input" type="text">
                        <button *ngIf="input.display" type="button" class="link-input-remove" (click)="removeProductInput($event)">Remove</button>
                    </div>
                </div>
            </div>
            <button type="button" (click)="addProductInput()">Add more image links</button>
            <button type="button" class="btn btn-default" [disabled]="!productForm.form.valid"
                    (click)="updateProduct(id.value, name.value, description.value, price.value, quantity.value, discount.value)">
                Update
            </button>
        </div>
        <div *ngIf="!product">
            <div class="form-group">
                <label>Name</label>
                <input #name name="name" type="text" class="form-control" required>
            </div>
            <div class="form-group">
                <label>Description</label>
                <textarea #description name="description" class="form-control"></textarea>
            </div>
            <div class="form-group">
                <label>Price</label>
                <input #price name="price" type="text" class="form-control" required>
            </div>
            <div class="form-group">
                <label>Quantity</label>
                <input #quantity name="quantity" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label>Discount %</label>
                <input #discount name="discount" type="text" class="form-control">
            </div>
            <div class="form-group">
                <p>Add photo links</p>
                <div *ngFor='let input of inputData' class="photo-link-container">
                    <div [ngSwitch]="input.cover">
                        <input *ngSwitchCase="true" placeholder="cover image link" class="photo-link-input" type="text">
                        <input *ngSwitchCase="false" class="photo-link-input" type="text">
                        <button *ngSwitchCase="false" type="button" class="link-input-remove" (click)="removeProductInput($event)">Remove</button>
                    </div>
                </div>
            </div>
            <button type="button" (click)="addProductInput()">Add more image links</button>
            <button type="button" class="btn btn-default" [disabled]="!productForm.form.valid"
                    (click)="addProduct(name.value, description.value, price.value, quantity.value, discount.value)">
                Save
            </button>
        </div>
        <button type="button" class="btn btn-default" (click)="gotoProductsPage()">
            Cancel
        </button>
    </form>
</div>